<div class="profile-container" [class.dark-theme]="isDarkTheme">
  <div class="head">
    <button mat-icon-button (click)="onProfileOpen.emit()">
      <mat-icon>close</mat-icon>
    </button>

    <div class="avatar">
      <img
        referrerpolicy="no-referrer"
        [src]="user?.photoUrl"
        [alt]="user?.displayName"
      />
    </div>

    <div class="info">
      <div class="name">{{ user?.displayName }}</div>

      <div class="date-join">
        Đã tham gia: {{ user?.createdAt | date: "MM/dd/yyyy" }}
      </div>
    </div>
  </div>

  <div class="body">
    <span>
      <mat-icon class="material-icons-outlined">mail</mat-icon>
      {{ user?.email }}
    </span>

    <span> <mat-icon>call</mat-icon> 0987654321 </span>

    <div>Đang theo dõi: <span>0</span></div>

    <div>Truyện đã đăng: <span>0</span></div>
  </div>
</div>
<div class="overlay" (click)="onProfileOpen.emit()"></div>
