.tap-content {
  position: fixed;
  z-index: 20;
  padding: 10px;
  width: 450px;
  height: 100vh;
  background: #e9e6e4;
  overflow-y: auto;
  transition: 0.5s;

  &::-webkit-scrollbar {
    width: 5px;
    height: 0;
    background: #ff933556;
  }

  &::-webkit-scrollbar-corner {
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #ff9435;
  }

  &.dark-theme {
    background: #272727;
  }

  @media only screen and (max-width: 465px) {
    width: 100%;
  }
}

.head {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;

  .close-btn {
    position: absolute;
    top: 0;
    left: 0;
  }

  img {
    width: 150px;
  }
}

form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .search-input {
    position: relative;
  }

  input {
    font-size: 1rem;
    background: none;
    border: none;
    border-bottom: 1px solid #cecece;
    outline: none;
    padding: 5px 10px;
  }

  .border-bottom {
    position: absolute;
    background-color: #ff9435;
    transform-origin: center;
    transition: transform 0.5s ease;
    height: 1px;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scaleX(0);
  }

  input:focus ~ .border-bottom {
    transform: scaleX(1);
  }

  .clear-btn {
    background: none;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 5px;
    top: 7px;
    z-index: 1;
    cursor: pointer;
    border-radius: 15px;
    background: #ff711e2e;

    mat-icon {
      font-size: 0.8rem;
      width: 15px;
      height: 15px;
      transform: translateY(2px);
    }

    &:hover mat-icon {
      color: #ff9435;
    }
  }
}

.title {
  margin-top: 1rem;
  font-family: Roboto;
  font-weight: 500;

  span {
    font-weight: 600;
    color: #ff9435;
  }
}

.results-list {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.item {
  padding: 1rem 5px;
  display: flex;
  text-decoration: none;
  border-bottom: 1px solid #ff9435;

  img {
    object-fit: cover;
    width: 120px;
  }

  .info {
    margin-left: 5px;
    flex: 1;
    flex-direction: column;

    h4,
    p {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-word;
    }

    h4 {
      -webkit-line-clamp: 2;
      font-weight: normal;
    }

    .chap {
      color: #ffba7d;
    }

    p {
      margin-top: 5px;
      color: #787878;
      font-size: 0.9rem;
      -webkit-line-clamp: 3;
    }

    .genres {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .genre {
        margin: 3px;
        font-size: 0.8rem;
        padding: 3px 5px;
        border: 1px solid #ffa254;
        border-radius: 15px;
      }
    }
  }

  &:hover > .info > .name {
    color: #ffa353;
  }
}

.not-found {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  mat-icon {
    font-size: 3rem;
    color: #fd3939b6;
    height: fit-content !important;
    width: fit-content !important;
  }

  h3 {
    font-weight: 400;

    span {
      color: #ff9435;
    }
  }
}

.skeleton-container {
  --background: linear-gradient(90deg, #a8a7a7, #d4d4d4, #a8a7a7);

  .skeleton-title {
    margin-top: 1rem;
    width: 150px;
    border-radius: 5px;
    height: 1.5rem;
    background: var(--background);
    animation: skeleton_linear 3s linear infinite;
    background-size: 200%;
  }

  .skeleton-item {
    margin-top: 1.5rem;
    width: 100%;
    display: flex;

    .skeleton-img {
      width: 120px;
      height: 165px;
      background: var(--background);
      animation: skeleton_linear 3s linear infinite;
      background-size: 200%;
    }

    .skeleton-info-wrapper {
      flex: 1;
      margin-left: 5px;
    }

    .name {
      margin-top: 0.5rem;
      width: 95%;
      background: var(--background);
      animation: skeleton_linear 3s linear infinite;
      background-size: 200%;
      height: 18px;
      border-radius: 5px;

      &:last-child {
        width: 75%;
      }
    }

    .chap {
      width: 90px;
      margin-top: 0.5rem;
      height: 18px;
      border-radius: 5px;
      background: var(--background);
      animation: skeleton_linear 3s linear infinite;
      background-size: 200%;
    }

    .content {
      width: 95%;
      height: 12px;
      margin-top: 3px;
      border-radius: 3px;
      background: var(--background);
      animation: skeleton_linear 3s linear infinite;
      background-size: 200%;
    }

    .genres {
      margin-top: 5px;

      .genre {
        display: inline-block;
        width: 60px;
        margin-left: 5px;
        height: 18px;
        border-radius: 10px;
        background: var(--background);
        animation: skeleton_linear 3s linear infinite;
        background-size: 200%;
      }
    }
  }

  &.dark-theme {
    --background: linear-gradient(90deg, #444444, #585858, #444444);
  }
}

.overlay {
  position: fixed;
  z-index: 19;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0000008a;
}

@media only screen and (max-width: 360px) {
  .tap-content {
    .item {
      img {
        width: 100px;
      }

      .content {
        font-size: 0.8rem;
      }

      .genre {
        font-size: 0.7rem;
      }
    }
  }
}

@keyframes skeleton_linear {
  0% {
    background-position: 200%;
  }

  40% {
    background-position: 200%;
  }

  100% {
    background-position: 0%;
  }
}
