.navbar {
  position: fixed;
  z-index: 10;
  padding: 0 3%;
  width: 100%;
  height: 55px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  transition: 0.2s;

  &.scrolltop {
    background: #e9e6e4;
    box-shadow: 0px 3px 5px #0009;
  }

  @media only screen and (max-width: 835px) {
    display: none;
  }

  .brand {
    width: 100px;

    img {
      width: 100%;
    }
  }

  .nav-list {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;

    .nav-item {
      position: relative;
      height: 100%;
      list-style: none;
    }

    .nav-link,
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      height: 100%;
      padding: 0px 12px;
      font-size: 1rem;
    }

    .nav-link:hover,
    button:hover,
    .menu-item.active .menu-link {
      text-shadow: 3px 3px 10px #ff971fb6, -3px -3px 10px #ff971fb6;
    }

    a.nav-link {
      text-decoration: none;
    }

    button {
      background: none;
      border: none;
      outline: none;
      cursor: pointer;
    }

    .menu-item:hover > .dropdown {
      opacity: 1;
      user-select: auto;
      pointer-events: all;
    }

    .dropdown {
      position: absolute;
      left: -10px;
      flex-wrap: wrap;
      padding: 10px;
      background: #e9e6e4e8;
      transition: 0.2s;
      opacity: 0;
      user-select: none;
      pointer-events: none;

      a {
        font-size: 0.9rem;
        padding: 15px 0;
      }
    }

    .menu-item:nth-child(2) .dropdown {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      width: 760px;
      left: -300px;

      @media only screen and (max-width: 1030px) {
        left: -200px;
      }

      @media only screen and (max-width: 840px) {
        left: -150px;
      }
    }

    .menu-item:nth-child(3) .dropdown {
      width: 155px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .menu-item:nth-child(4) .dropdown {
      width: 135px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .animation-bar {
      position: absolute;
      background: #ff923c;
      height: 5px;
      top: 0;
      transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
  }

  .left-menu {
    display: flex;
    align-items: center;

    .user {
      display: flex;
      align-items: center;
      cursor: pointer;
      margin: 0px 10px;
    }

    .avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 100%;
      }
    }

    .signin-btn mat-icon {
      font-size: 1.7rem;
      transform: translateX(-2px);
    }
  }

  &.dark-theme {
    &.scrolltop {
      background: #303030;
      box-shadow: 0px 3px 5px #0009;
    }

    & .nav-list .dropdown {
      background: #272626f1;
    }
  }
}

::ng-deep {
  .menu {
    box-shadow: 3px 3px 5px #00000033, -3px -3px 5px #00000024;
    background: var(--background);
    border-radius: 5px;
  }

  & .mat-menu-panel {
    padding: 5px;
    box-shadow: none;
    background: transparent;
  }

  & .mat-menu-content {
    background: transparent;
  }

  & .mat-menu-item .mat-icon-no-color {
    color: var(--color);
  }

  &.dark-menu {
    background: #303030;

    & .mat-icon {
      color: #e0e5f5;
    }

    & .mat-menu-item .mat-icon-no-color,
    span {
      color: #e0e5f5;
    }

    & .mat-icon-no-color,
    span {
      color: #e0e5f5;
    }
  }
}

@media only screen and (max-width: 360px) {
  .navbar {
    height: 50px;
    padding: 0px 5%;

    .brand {
      width: 90px;
    }

    .nav-list {
      display: none;
    }
  }

  .left-menu .mat-icon {
    font-size: 1.3rem;
    transform: translate(-4px, -4px);
    height: 14px;
    width: 14px;
  }

  .signin-btn {
    display: none;
  }
}
