<div class="form-container">
  <form
    *ngIf="user; else signInBtn"
    #form="ngForm"
    (submit)="handleComment(form)"
  >
    <div class="avatar" title="Bạn">
      <div class="avatar-wrapper">
        <img referrerpolicy="no-referrer" [src]="user.photoUrl" />
      </div>
    </div>

    <button
      class="file-btn"
      mat-icon-button
      (click)="imageInput.click()"
      title="Chọn ảnh"
      type="button"
    >
      <mat-icon>add</mat-icon>
    </button>

    <div class="content-wrapper">
      <input
        type="text"
        class="text"
        name="text"
        [(ngModel)]="text"
        autocomplete="off"
        [placeholder]="isReply ? 'Trả lời' : 'Viết bình luận'"
      />

      <div class="previews" *ngIf="previewImage">
        <button
          *ngIf="!changeFileLoading"
          (click)="handleRemovePreviewImg(imageInput)"
          title="Bỏ"
          type="button"
        >
          <mat-icon>close</mat-icon>
        </button>

        <div class="wrapper">
          <img [src]="previewImage" [class.loading-img]="changeFileLoading" />

          <div
            class="progress-bar"
            *ngIf="changeFileLoading"
            [style.width]="progress * 100 + '%'"
          ></div>
        </div>
      </div>
    </div>

    <input
      type="file"
      class="file"
      #imageInput
      accept="image/*"
      (change)="handleChageFile($event.target)"
    />

    <button
      class="submit-btn"
      mat-icon-button
      type="submit"
      *ngIf="!isCommentLoading; else loading"
    >
      <mat-icon class="material-icons-outlined">send</mat-icon>
    </button>

    <ng-template #loading>
      <div class="sk-fading-circle">
        <div class="sk-circle1 sk-circle"></div>
        <div class="sk-circle2 sk-circle"></div>
        <div class="sk-circle3 sk-circle"></div>
        <div class="sk-circle4 sk-circle"></div>
        <div class="sk-circle5 sk-circle"></div>
        <div class="sk-circle6 sk-circle"></div>
        <div class="sk-circle7 sk-circle"></div>
        <div class="sk-circle8 sk-circle"></div>
        <div class="sk-circle9 sk-circle"></div>
        <div class="sk-circle10 sk-circle"></div>
        <div class="sk-circle11 sk-circle"></div>
        <div class="sk-circle12 sk-circle"></div>
      </div>
    </ng-template>
  </form>

  <ng-template #signInBtn>
    <div class="sign-in" *ngIf="!isReply">
      Bạn cần <button (click)="handleOpenSignIn()">đăng nhập</button> để bình
      luận
    </div>
  </ng-template>
</div>
