<div class="cmt-wrapper" *ngIf="comment">
  <div class="avatar">
    <img
      [src]="
        user?.photoUrl ? user?.photoUrl : './assets/img/default-avatar.png'
      "
    />
  </div>

  <div class="cmt">
    <div class="user">
      <div class="user-wrapper">
        <div class="name">{{ user?.displayName }}</div>

        <p class="time-left">
          {{ comment.createdAt?.seconds | getTime | date: "dd/mm/yyyy" }}
        </p>
      </div>

      <button mat-icon-button [matMenuTriggerFor]="optionMenu">
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #optionMenu="matMenu">
        <div class="menu" [class.dark-menu]="false">
          <button mat-menu-item>
            <mat-icon class="material-icons-outlined">delete</mat-icon>

            <span>Xóa bình luận</span>
          </button>

          <button mat-menu-item>
            <mat-icon>report</mat-icon>

            <span>Báo cáo</span>
          </button>
        </div>
      </mat-menu>
    </div>

    <div class="content">
      <p class="text">{{ comment.content }}</p>

      <img *ngIf="comment.img" [lazyLoad]="comment!.img!" />
    </div>

    <div class="tube">
      <button
        class="like"
        [class.active]="
          comment?.reaction || {} | checkReaction: currentUser?.uid:1
        "
        [class.disable]="!currentUser"
        (click)="handleAddReaction(1)"
      >
        {{ comment?.reaction || {} | reaction: 1 }}
        <mat-icon
          [class.material-icons-outlined]="
            !(comment?.reaction || {} | checkReaction: currentUser?.uid:1)
          "
        >
          thumb_up
        </mat-icon>
      </button>

      <button
        class="dislike"
        [class.active]="
          comment?.reaction || {} | checkReaction: currentUser?.uid:2
        "
        [class.disable]="!currentUser"
        (click)="handleAddReaction(2)"
      >
        {{ comment?.reaction || {} | reaction: 2 }}
        <mat-icon
          [class.material-icons-outlined]="
            !(comment?.reaction || {} | checkReaction: currentUser?.uid:2)
          "
        >
          thumb_down
        </mat-icon>
      </button>

      <button class="reply" (click)="reply.emit()">Phản hồi</button>
    </div>
  </div>
</div>
