.end {
  display: flex;
  align-items: center;
  padding: 10px;

  h2 {
    font-weight: 100;
  }
}

.scroll-top {
  position: fixed;
  z-index: 29;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  bottom: 40px;
  right: 30px;
  border: 1px solid #ff812d;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;

  mat-icon {
    color: #ff812d;
    font-size: 2rem;
    transform: translate(-4px, -5px);
  }

  &:hover {
    opacity: 0.6;
  }
}
